@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }

    header,
    .no-print {
        display: none !important;
    }

    .print-full-width {
        width: 100% !important;
        max-width: none !important;
        grid-column: span 12 !important;
    }

    .page-break {
        page-break-before: always;
    }

    input,
    select,
    textarea {
        border: none !important;
        background: transparent !important;
        resize: none;
        appearance: none;
        padding: 0 !important;
    }

    input[type="range"] {
        display: none;
    }

    .shadow-xl,
    .shadow-sm {
        box-shadow: none !important;
    }

    .bg-slate-900 {
        background-color: #1e293b !important;
        color: white !important;
    }

    .print-border {
        border: 1px solid #ddd !important;
    }
}
